header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 90px;
    margin:0 auto;
    max-width: 1400px;
}

h1 {
    color: $colorPrimary;
    margin-right: 100px;
    font-size: 36px;
    line-height: 47px;
}

.logo {
    height: 50px;
}

