header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
<<<<<<< HEAD
    flex-wrap: nowrap;
    height: 90px;
    margin:0 auto;
    max-width: 1400px;
=======
    height: 90px;
>>>>>>> 616210c4c6a3267ede3b9024e3e8f75dc65d702c
}

h1 {
    color: $colorPrimary;
    margin-right: 100px;
    font-size: 36px;
    line-height: 47px;
}

.logo {
    height: 50px;
<<<<<<< HEAD
=======
    margin-left: 100px;
>>>>>>> 616210c4c6a3267ede3b9024e3e8f75dc65d702c
}

