.like-n-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  width: 375px;
  border-radius: 5px;
  background-color: $colorTertiary;
  position: fixed;
  right: 36px;
  bottom: -21px;
  
  &__counter {
    display: flex;
  }
  
  &__likes {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    margin-right: 5px;
  }
  
  &__prices {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    
  
  }
  
  img {
    height: 18px;
    width: 18px;
    -webkit-filter:brightness(0);
    filter:brightness(0);
    position: relative;
    margin-top: 4px;
  }
}
