#contact_modal {
    display: none;
}

.modal {
    z-index: 1;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border-radius: 5px;
    background-color: $colorTertiary;
    width: 669px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 35px;
    margin: auto;
    height: 900px;

    &__header {

        justify-content: space-between;
        width: 100%;
        margin-top: 10px;

        &__img {
            cursor: pointer;
            margin-top: -70px;
        }

        &__h2 {
            font-size: 64px;
            font-weight: normal;
        }
    }
}
 





