@mixin media-section-text {
    color:$colorPrimary;
    font-size: 24px;
    font-style: normal;
    align-self: center;
<<<<<<< HEAD
=======
    padding: 10px 3px 30px;
>>>>>>> 616210c4c6a3267ede3b9024e3e8f75dc65d702c
    letter-spacing: 0em;
}